

html, body {
    background: url(../images/sloth-background.png) no-repeat top center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
    /* font-size: 62.5%; */
}

 /*---------- HEADINGS ----------*/
h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;
    color: #274A27;
    margin-bottom: 5rem;
    text-align: center;
    border: 0.3rem solid green;
    border-radius: 30%;
    background-color: #edddc6;
    width: 18rem;
    height: 15rem;
  }

h2 {
    font-size: 3rem;
}

h3 {
  text-align: center;
}

 /*---------- INTRO CONTAINER ----------*/
  #intro-container {
    width: 80vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .hidden {
    display: none;
  }
  
/*---------- QUESTION CONTAINER ----------*/
  .game-container {
   background-color: aqua;
   padding: 1.25rem 0;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  }

 .question-prefix {
  padding: 1.6rem;
 }

  /* BUTTONS */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 15rem;
    text-align: center;
    border: 0.3rem solid green;
    border-radius: 3rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #274A27;
    background-color: #edddc6;
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: greenyellow;
    box-shadow: 10px 10px 8px brown;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  #close-modal {
    font-size: 1rem;
    padding: 1rem 0;
    width: 8rem;
    text-align: center;
    border: 0.3rem solid green;
    border-radius: 3rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #274A27;
    background-color: #edddc6;
  }

  .btn-answer {
    background:  #edddc6;;
    color: #274A27;
    width: 100%;
    border: 0.3rem solid green;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn-answer:hover {
    background-color: #274A27;
    color: #fff;
  }

#btn-next {
    background: #274A27;
    color: #fff;
    width: 8rem;
    border-radius: 3rem;
    border: 0;
    padding: 1rem;
    margin: 1.25rem auto 0;
    cursor: pointer;
    display: none;
}

  /*---------- MODAL ----------*/
/* created using tutorial - https://www.youtube.com/watch?v=XH5OW46yO8I */

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal {
  background-color: white;
  border-radius: 3rem;
  color: #274A27;
  width: 37.5rem;
  max-width: 100%;
  padding: 2rem 3rem;
  border: 0.3rem solid green;
  text-align: center;
}

#modal-container.show {
  opacity: 1;
  pointer-events: auto;
}




 